<!-- wp:template-part {"slug":"header","tagName":"header","align":"full"} /-->

<!-- wp:group {"metadata":{"name":"Page Content"},"className":"page-content-wrapper","style":{"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60","left":"var:preset|spacing|50","right":"var:preset|spacing|50"}}},"layout":{"type":"constrained","contentSize":"768px"}} -->
<div class="wp-block-group page-content-wrapper" style="padding-top:var(--wp--preset--spacing--60);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--60);padding-left:var(--wp--preset--spacing--50)">
<!-- wp:post-title {"level":1} /-->

<!-- wp:group {"layout":{"type":"flex","flexWrap":"wrap","justifyContent":"left"},"style":{"spacing":{"blockGap":"0.5rem","margin":{"bottom":"var:preset|spacing|50"}}},"fontSize":"small"} -->
<div class="wp-block-group has-small-font-size" style="margin-bottom:var(--wp--preset--spacing--50)">
<!-- wp:post-date /-->
<!-- wp:paragraph -->
<p>&middot;</p>
<!-- /wp:paragraph -->
<!-- wp:post-author {"showAvatar":false} /-->
</div>
<!-- /wp:group -->

<!-- wp:post-content {"layout":{"type":"constrained","contentSize":"1200px"}} /-->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"var:preset|spacing|50"}}}} -->
<div class="wp-block-group" style="margin-top:var(--wp--preset--spacing--50)">
<!-- wp:post-terms {"term":"category","prefix":"Categories: "} /-->
<!-- wp:post-terms {"term":"post_tag","prefix":"Tags: "} /-->
</div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"flex","flexWrap":"wrap","justifyContent":"space-between"},"style":{"spacing":{"margin":{"top":"var:preset|spacing|50"}}}} -->
<div class="wp-block-group" style="margin-top:var(--wp--preset--spacing--50)">
<!-- wp:post-navigation-link {"type":"previous","label":"Previous Post"} /-->
<!-- wp:post-navigation-link {"label":"Next Post"} /-->
</div>
<!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","align":"full"} /-->
